@font-face {
  src: url(../../fonts/SuisseIntl-Book.woff);
  font-family: 'Suisse';
  font-weight: normal;
}

@font-face {
  src: url(../../fonts/SuisseIntl-Bold.woff);
  font-family: 'Suisse';
  font-weight: bold;
}

.app-container {
  margin: 0 auto;
  background-color: #323131;
  height: 100svh;
  padding: 5% 5%;
  font-family: 'Suisse';
  box-sizing: border-box;
  color: white;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
