.mdContainer {
    width: 100%;
    max-width: 46vh;
    max-height: 50vh;
    overflow: auto;
    color: white;
}

.mdContainer h1 {
    display:  none;
}

.mdContainer h2 {
    text-align: center;
}

.mdContainer:has(pre) {
    display:  none;
}

.mdContainer > div {
    padding: 0 20px;
}

@media (height <= 620px) {  
    .mdContainer {
        max-width: 100%;
    }
}

@media (any-hover: hover) {
    .mdContainer::-webkit-scrollbar { 
        width: 0; 
    }
}

