.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width:  500px;
    padding-top: 150px;
    font-weight: bold;
    font-size: 34px;
    font-family: 'Suisse', sans-serif;
    text-align: center;
}

@media (height <= 620px) {  
    .success{ 
        max-width: 534px;
        padding: 0 15%;
        font-size: 28px;
    }
}